[Desktop Entry]
Name=Neovim
GenericName[es]=Editor de texto
GenericName=Text Editor
Comment[es]=Editar archivos de texto
Comment=Edit text files
# TryExec=/home/linuxbrew/.linuxbrew/bin/nvim
# Exec=/home/linuxbrew/.linuxbrew/bin/nvim %F
# Terminal=true
Exec=alacritty -e /home/linuxbrew/.linuxbrew/bin/nvim %F
Terminal=false
Type=Application
Keywords[es]=Texto;editor;
Keywords=Text;editor;
# Icon=nvim;
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
