/compiled
/configs/ranger/colorschemes/__init__.py
/configs/ranger/colorschemes/__pycache__
/configs/ranger/plugins
/configs/xournalpp/settings.xml
/configs/xournalpp/metadata
/configs/nvim/lazy-lock.json
/configs/mpv/watch_later
